<p>54.03.01</br>
    Студенты изучают принципы<br/>
    брендирования, учатся работать<br/>
    с аналогами и техническим<br/>
    заданием, изучают функциональные<br/>
    и концептуальные возможности<br/>
    анимации, бумагопластики<br/>
    и применяют их в дизайнерском<br/>
    проектровании, создании<br/>
    многостраничных изданий:<br/>
    зинов, книг и журналов
</p>
<!-- <div class="gallery-container" data-gallery-id="gallery1">
    <img class="galleryImage" src="{{ url_for('static', filename='png/bakalavr/image1.png') }}" alt="GalleryImage">
    <div class="gallery-controls">
        <button class="prevButton">Previous</button>
        <button class="nextButton">Next</button>
    </div>
</div> -->

<script src="/static/js/main.js"></script>