<table>
    <tbody>
        <tr>
            <th>НАПРАВЛЕНИЯ ПОДГОТОВКИ</th>
            <td colspan="2">54.03.01</td>
        </tr>
        <tr>
            <th>ФОРМА ОБУЧЕНИЯ</th>
            <td class="multi-line" colspan="2">
                <div>Очная 4 года</div>
                <div>Очно-заочная 4,5 года</div>
            </td>
        </tr>
        <tr>
            <th>РЕЗУЛЬТАТЫ ЕГЭ</th>
            <td class="multi-line">
                <div>Обязательный предмет:</div>
                <div>русский язык 40 баллов</div>
            </td>
            <td class="multi-line">
                <div>Предмет по выбору:</div>
                <div>обществознание 45 баллов</div>
                <div>литература 40 баллов</div>
            </td>
        </tr>
        <tr>
            <th>ТВОРЧЕСКИЕ ИСПЫТАНИЯ</th>
            <td class="multi-line">
                <div>Обязательный предмет:</div>
                <div>рисунок 40 баллов</div>
            </td>
            <td class="multi-line">
                <div>Предмет по выбору:</div>
                <div>архитектурная композиция 40 баллов</div>
                <div>дизайнерская композиция 40 баллов</div>
            </td>
        </tr>
    </tbody>
</table>