НАПРАВЛЕНИЯ ПОДГОТОВКИ
                54.03.01
                ФОРМА ОБУЧЕНИЯ
                Очная 4 года
                    Очно-заочная 4,5 года
                    РЕЗУЛЬТАТЫ ЕГЭ
                Обязательный предмет:
                    русский язык 40 баллов
                    Предмет по выбору:
                    обществознание 45 баллов
                    литература 40 баллов
                    ТВОРЧЕСКИЕ ИСПЫТАНИЯ
                Обязательный предмет:
                рисунок 40 баллов
Предмет по выбору:
архитектурная композиция 40 баллов
дизайнерская композиция 40 баллов