<div class="grid-table">
    <div class="grid-row">
        <div class="grid-cell">НАПРАВЛЕНИЯ ПОДГОТОВКИ</div>
        <div class="grid-cell">54.03.01</div>
        <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
        <div class="grid-cell">ФОРМА ОБУЧЕНИЯ</div>
        <div class="grid-cell">Очная 4 года</br>Очно-заочная 4,5 года</div>
        <div class="grid-cell"></div>

    </div>
    <div class="grid-row">
        <div class="grid-cell">РЕЗУЛЬТАТЫ ЕГЭ</div>
        <div class="grid-cell">Обязательный предмет:</br>русский язык 40 баллов</div>
        <div class="grid-cell">Предмет по выбору:</br>обществознание 45 баллов</br>литература 40 баллов</div>
    </div>
    <div class="grid-row">
        <div class="grid-cell">ТВОРЧЕСКИЕ ИСПЫТАНИЯ</div>
        <div class="grid-cell">Обязательный предмет:</br>рисунок 40 баллов</div>
        <div class="grid-cell">Предмет по выбору:</br>архитектурная композиция 40 баллов</br>дизайнерская композиция 40 баллов</div>
    </div>
</div>