<div class="gallerychoice">
    <input type="radio" id="kurs1comdis" value="/template/kurs1comdis.html" name="choice5" data-target="comddiskurs" checked>
    <label class="block8label" for="kurs1comdis">1 КУРС</label>
    <input type="radio" id="kurs2comdis" value="/template/kurs2comdis.html" name="choice5" data-target="comddiskurs">
    <label class="block8label" for="kurs2comdis">2 КУРС</label>
    <input type="radio" id="kurs3comdis" value="/template/kurs3comdis.html" name="choice5" data-target="comddiskurs">
    <label class="block8label" for="kurs3comdis">3 КУРС</label>
    <input type="radio" id="kurs4comdis" value="/template/kurs4comdis.html" name="choice5" data-target="comddiskurs">
    <label class="block8label" for="kurs4comdis">4 КУРС</label>
    <input type="radio" id="vkrcomdis" value="/template/vkrcomdis.html" name="choice5" data-target="comddiskurs">
    <label class="block8label" for="vkrcomdis">ВКР</label>
</div>
<div class = "kurs" id="comddiskurs">
</div>