<div class="gallerychoice">
    <input type="radio" id="kurs1disred" value="/template/kurs1disred.html" name="choice6" data-target="disredkurs" checked>
    <label class="block8label" for="kurs1disred">1 КУРС</label>
    <input type="radio" id="kurs2disred" value="/template/kurs2disred.html" name="choice6" data-target="disredkurs">
    <label class="block8label" for="kurs2disred">2 КУРС</label>
    <input type="radio" id="kurs3disred" value="/template/kurs3disred.html" name="choice6" data-target="disredkurs">
    <label class="block8label" for="kurs3disred">3 КУРС</label>
    <input type="radio" id="kurs4disred" value="/template/kurs4disred.html" name="choice6" data-target="disredkurs">
    <label class="block8label" for="kurs4disred">4 КУРС</label>
    <input type="radio" id="vkrdisred" value="/template/vkrdisred.html" name="choice6" data-target="disredkurs">
    <label class="block8label" for="vkrdisred">ВКР</label>
</div>
<div class = "kurs" id="disredkurs">
</div>