<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кафедра</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="#">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com">
</head>
<body>
    <!-- навигацая -->
    <div class=nav>
        <img class="logo" src="/static/png/dstu_logo.png" alt="dstu logo">
        <div class="navphrase">
            <p>кафедра "дизайн" дгту</p>
            <svg width="540" height="4" viewBox="0 0 540 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 2L540 2.00005" stroke="white" stroke-width="2.5"/>
            </svg>
            <p class="p2">школа архитектуры, дизайна и искусств</p>
        </div>
        <a href='#about'>о кафедре</a>
        <a href='#exam'>как поступить</a>
        <a href='#awards'>достижения</a>
        <a href='' class="aform"><img src="/static/png/a_form.png" alt="форма="></a>
    </div>

<!-- страница 1 главная -->
<span class="anchor" id="about"></span>
<div class="block1">
        <!-- логотип и формы -->
        <img class="kafdislogo" src="/static/png/logo_kafdis.png" alt="logo">
        <img class="bigshape1" src="/static/png/big_shape.png" alt="bigshape1">
        <img class="ultrasmallshape1" src="/static/png/ultrasmallshape1.png" alt="ultrasmallshape1">
    <!-- два блока с текстом -->
    <div class="smallblock1">
        <!-- левый -->
        <div class="smlblckLEFT">
        <img class="smallshape1" src="/static/png/small_shape1.png" alt="smallshape1">
        <h2>КОММУНИКАТИВНЫЙ<br/>ДИЗАЙН</h2>
        <p>Визуальный брендинг и айдентика, дизайн <br/>
            полиграфической и сувенирной продукции.<br/>
            Веб-проектирование, иллюстрация, плакат<br/>
            и фотографика</p>
        </div>
        <!-- правый -->
        <div class="smlblckRIGHT">
        <img class="smallshape2" src="/static/png/small_shape2.png" alt="smallshape2">
        <h2>ДИЗАЙН<br/>СРЕДЫ</h2>
        <p>Дизайн средовых объектов и систем,<br/>
            экспереминтальное проектирование.<br/>
            Дизайн малых архитектурных форм,<br/>
            жилых помещений и общественных <br/>
            объектов</p>
        </div>
    </div>
</div>
<!-- страница 2 галерея бак маг -->
 
<div class="block2">
    <div class="gallerychoice">
        <input type="radio" id="bak1" value="/template/bak2block.html" name="choice1" data-target="contentblock1" checked>
        <label for="bak1">БАКАЛАВРИАТ</label>

        <input type="radio" id="mag1" value="/template/mag2block.html" name="choice1" data-target="contentblock1">
        <label for="mag1">МАГИСТРАТУРА</label>
    </div>
        <div class="twoclmnwgallery">
            <div class = "gallery" id="contentblock1">
            </div>
            <div class="gallery-container" data-gallery-id="gallery1">
                <img class="galleryImage" src="/static/png/bakalavr/image1.png" alt="GalleryImage">
                <div class="gallery-controls">
                    <button class="prevButton" id="prev"><img src="/static/svg/prevbutton.svg"></button>
                    <button class="nextButton" id="next"><img src="/static/svg/nextbutton.svg"></button>
                </div>
            </div>
        </div>
</div>
<!-- страница 3 преподаватели -->
<div class ="block3">
    <h3>ПРЕПОДАВАТЕЛИ</h3>
    <div class="teachergallery">
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher1.png" alt="Teacher">
            <div class="FIO">Бердник Татьяна</br>
                Олеговна</div>
            <p>заведующая кафедрой,</br>
                кандидат филосовских наук,</br>
                профессор
            </p>
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher2.png" alt="Teacher">
            <div class="FIO">Наумова Екатерина</br>
                Григорьевна</div>
            <p>доцент,</br>
                кандидат филосовских наук
            </p>
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher3.png" alt="Teacher">
            <div class="FIO">Клименко Ирина</br>
                Ахсаровна</div>
                <p>доцент,</br>
                    кандидат филосовских наук
                </p>
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher4.png" alt="Teacher">
            <div class="FIO">Куприянова Елена</br>
                Владимировна</div>
            <p>доцент</p> 
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher5.png" alt="Teacher">
            <div class="FIO">Кожина Наталия</br>
                Васильевна</div>
            <p>доцент</p>
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher6.png" alt="Teacher">
            <div class="FIO">Травин Александр</br>
                Владимирович</div>
            <p>доцент</p>
        </div>
        <div class="teacher">
            <img class="galleryImage" src="/static/png/teachers/teacher7.png" alt="Teacher">
            <div class="FIO">Травин Константин</br>
                Владимирович</div>
            <p>доцент</p>
        </div>
    </div>
</div>
<!-- страница 4 как поступить -->
<span class="anchor" id="exam"></span>
<div class = "block4">
    <h3>КАК ПОСТУПИТЬ</h3>
    <div class="contacts">
        <p>Приёмная комиссия:8 (900) 100-19-30</p>
        <a href="https://donstu.ru/events/afishi/den-otkrytykh-dverey-fakulteta-shkola-arkhitektury-dizayna-i-iskusstv-22/">Дни открытых дверей</a>
        <a href="https://donstu.ru/">Официальный сайт ДГТУ</a>
    </div>
    <div class="gallerychoice">
        <input type="radio" id="bak2" value="/template/bak4block.html" name="choice2" data-target="contentblock4" checked>
        <label for="bak2">БАКАЛАВРИАТ</label>

        <input type="radio" id="mag2" value="/template/mag4block.html" name="choice2" data-target="contentblock4">
        <label for="mag2">МАГИСТРАТУРА</label>
    </div>
        <div class = "howto" id="contentblock4">
        </div>
</div>
<!-- страница 5 достижения -->
<span class="anchor" id="awards"></span>
<div class="block5">
    <h3>ДОСТИЖЕНИЯ</h3>
    <div class="gallerychoice">
        <input type="radio" id="prep" value="/template/prepod5block.html" name="choice3" data-target="contentblock5" checked>
        <label for="prep">ПРЕПОДАВАТЕЛИ</label>

        <input type="radio" id="stud" value="/template/stud5block.html" name="choice3" data-target="contentblock5">
        <label for="stud">СТУДЕНТЫ</label>
    </div>
        <div class = "howto" id="contentblock5">
        </div>
</div>
<!-- страница 6 активность -->
<div class="block6">
    <h3>АКТИВНОСТЬ</h3>
    <p>Студенты принимают активное участие в организации </br>
        выставочно-конкурсных мероприятий кафедры "Дизайн",</br>
        занимают призовые места на международных конкурсах</br>
        и фестивалях дизайна, архитектуры и искусств.</br>
        В рамках научной работы студенты принимают</br>
        участие в конференциях и круглых столах.</p>
    <div class="activityblock">
        <img class="galleryImage" src="/static/png/activity/activity1.png" alt="GalleryImage">
        <img class="galleryImage" src="/static/png/activity/activity2.png" alt="GalleryImage">
        <img class="galleryImage" src="/static/png/activity/activity3.png" alt="GalleryImage">
        <img class="galleryImage" src="/static/png/activity/activity4.png" alt="GalleryImage">
    </div>
</div>
<!-- страница 7 партнёры -->
<div class="block7">
    <h3>ПАРТНЁРЫ</h3>
    <div class="partners">
        <div class="partncont">
        <img class="partnersimg" src="/static/png/partners/partners1.png" alt="Partners">
        <img class="partnersimg" src="/static/png/partners/partners2.png" alt="Partners">
        <img class="partnersimg" src="/static/png/partners/partners3.png" alt="Partners">
        <img class="partnersimg" src="/static/png/partners/partners4.png" alt="Partners">
        </div>
    </div>
</div>
<div class="footer">
    <div class="footergrid">
    <div class="firstfootercolumn">
        <img src="/static/png/footerlogo.png" alt="footerimg" id="footerlogo">
    </div>

    <div class="scondfootercolumn">
        <div class="inputs">
            <form actio="/send_mail" method="POST">
            <input type="text" id="name" name="name" placeholder="имя" required>
            <input type="email" id="email" name="email" placeholder="email" required>
            <input type="tel" id="phone" name="phone" placeholder="телефон" required>
            <button type="submit">Отправить</button>
            <p>Если остались вопросы, оставьте заявку - мы перезвоним</p>
            </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div class="thirdfootercolumn">
        <a href="https://vk.com/design_donstu" id="vk"><img src="/static/png/vk.png" alt="vk"></a>
        <a href="https://t.me/design_dstu" id="tg"><img src="/static/png/tg.png" alt="tg"></a>
        <a href="https://donstu.ru/" id="dstulogo"><img src="/static/png/dstu_logo.png" alt="dstulogo"></a>
        <a id="forma"><img src="static/png/a_form.png" alt="forma="></a>
    </div>
    </div>
    <div class="other">
        <p>Приёмная комиссия: 8 (800) 100-19-30</p>
        <p>Адрес: Ростов-на-Дону, ул.Петровская, 49 корпус 24, ауд. 24-506, пн-пт, 8:30-17:00</p>
        <a href="https://donstu.ru/events/afishi/den-otkrytykh-dverey-fakulteta-shkola-arkhitektury-dizayna-i-iskusstv-22/">Дни открытых дверей</a>
    </div>
</div>

<script src="/static/js/main.js"></script>
</body>
</html>