вводный обучающий курс, работа с первоформами и первоэлементами,
                        изучение контрастов и получение навыков работы с композицией
                   
                ДИСЦИПЛИНЫ
                ПРОФИЛЬНОГО
                ЦИКЛА
                Цветоведение
                                    вводный курс по цветам
                                    Компьютерные технологии
                                    обучающий курс, ознакомительный
                                    уровень Adobe Photoshop/Illustrator
                                Живопись
                                Основы композиции
                                Рисунок
                                Плэнерная практика