<div class="tablekurs">
    <table>
        <tbody>
            <tr>
                <th>ЯКОРНАЯ ДИСЦИПЛИНА</th>
                <td class="multi-line" colspan="2">
                    <div class="h1h">Пропедевтика</div>
                    <div>вводный обучающий курс, работа с первоформами и первоэлементами,</br>
                        изучение контрастов и получение навыков работы с композицией
                    </div>
                </td>
            </tr>
            <tr class="nobotom">
                <th>ДИСЦИПЛИНЫ<br>
                ПРОФИЛЬНОГО</br>
                ЦИКЛА</th>
                <td class="multi-line" colspan="2">
                    <td><div>Очная 4 года</div></td>
                <td><div>Очно-заочная 4,5 года</div></td>
                </td>
            </tr>
        </tbody>
    </table>
</div>