<p>54.04.01</br>
    Магистранты укрепляют знания,<br/>
    полученные в бакалавриате,<br/>
    налаживают профессиональные<br/>
    контакты, готовятся к карьере<br/>
    переподавателя или поступления<br/>
    в аспирантуру<br/>
</p>

<div class="gallery-container" data-gallery-id="gallery2">
    <img class="galleryImage" src="{{ url_for('static', filename='png/magistrat/image1.png') }}" alt="GalleryImage">
    <div class="gallery-controls">
        <button class="prevButton">Previous</button>
        <button class="nextButton">Next</button>
    </div>
</div>

<script src="/static/js/main.js"></script>