<div class="grid-table">
    <div class="grid-row">
        <div class="grid-cell">НАПРАВЛЕНИЯ ПОДГОТОВКИ</div>
        <div class="grid-cell">54.04.01</div>
        <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
        <div class="grid-cell">ФОРМА ОБУЧЕНИЯ</div>
        <div class="grid-cell">Очная 2 года</br>Очно-заочная 2,5 года</div>
        <div class="grid-cell"></div>

    </div>
    <div class="grid-row">
        <div class="grid-cell">ТВОРЧЕСКИЕ ИСПЫТАНИЯ</div>
        <div class="grid-cell">творческая клаузура</div>
        <div class="grid-cell"></div>
    </div>
</div>