<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij1.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij2.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij3.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij4.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij5.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij6.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij7.png') }}" alt="GalleryImage">
<img class="galleryImage" src="{{ url_for('static', filename='png/rewards/stud/dostij8.png') }}" alt="GalleryImage">